name: Build RE2/cre2

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write
  pull-requests: write
  checks: write

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '9.0.x'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake jq libgtest-dev libbenchmark-dev

      - name: Run Build Script
        run: ./build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifacts-linux
          path: bin/artifacts/

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Install Dependencies
        run: |
          brew update
          brew install gitversion nuget
          brew install googletest google-benchmark

      - name: Run Build Script
        run: ./build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifacts-macos
          path: bin/artifacts/


  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0

      - name: Install Dependencies
        shell: powershell
        run: |
          choco install gitversion.portable -y
          choco install jq -y

      - name: Run Build Script
        shell: cmd
        run: build.bat

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: artifacts-windows
          path: bin/artifacts/
